<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    
</head>
<body>
    <header>
        <div class="topheader">
            <h1>
                SRG Computer Traning Institute
            </h1>
        </div>
        <div class="menu">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Service</a>
            <a href="#">Contact</a>
        </div>
    </header>

    <div class="signinform">
        <form action="">
            <h3>Sign In</h3>
            <label for="email">Email Address</label> <br>
            <input type="email" id="email" placeholder="Enter your email"><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" placeholder="Enter your password"><br>
            <button>Sign In</button>
            <br>
            <p>
                Don't have an account? <a href="#">Sign Up</a>
            </p>
        </form>
    </div>

   
<div class="container">

    <div class="childiv">
        <h3>Introduction</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deleniti, impedit quas commodi aspernatur provident recusandae et voluptatibus molestiae beatae laudantium voluptates neque corrupti iusto, magnam nihil est. Recusandae, repellat.</p>

    </div>
    <div class="childiv">
        <h3>Introduction</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deleniti, impedit quas commodi aspernatur provident recusandae et voluptatibus molestiae beatae laudantium voluptates neque corrupti iusto, magnam nihil est. Recusandae, repellat.</p>

    </div>
    <div class="childiv">
        <h3>Introduction</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deleniti, impedit quas commodi aspernatur provident recusandae et voluptatibus molestiae beatae laudantium voluptates neque corrupti iusto, magnam nihil est. Recusandae, repellat.</p>

    </div>
    <div class="childiv">
        <h3>Introduction</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deleniti, impedit quas commodi aspernatur provident recusandae et voluptatibus molestiae beatae laudantium voluptates neque corrupti iusto, magnam nihil est. Recusandae, repellat.</p>

    </div>
    <div class="childiv">
        <h3>Introduction</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deleniti, impedit quas commodi aspernatur provident recusandae et voluptatibus molestiae beatae laudantium voluptates neque corrupti iusto, magnam nihil est. Recusandae, repellat.</p>

    </div>
    <div class="childiv">
        <h3>Introduction</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deleniti, impedit quas commodi aspernatur provident recusandae et voluptatibus molestiae beatae laudantium voluptates neque corrupti iusto, magnam nihil est. Recusandae, repellat.</p>

    </div>




</div>



<div class="signinform">
    <form action="">
        <h3>Sign In</h3>
        <label for="email">Email Address</label> <br>
        <input type="email" id="email" placeholder="Enter your email"><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" placeholder="Enter your password"><br>
        <button>Sign In</button>
        <br>
        <p>
            Don't have an account? <a href="#">Sign Up</a>
        </p>
    </form>
</div>



<footer>
    <div>©SRGCTI 2024. All Right Reserved</div>
</footer>

</body>
</html>