body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
 

.logo img{
    
    width: 30vh;
}
.parentdiv{

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px 20px;
    background-color: #111;
    color: #fff;
}

.childdiv {
    /* color: brown; */
    flex: 1;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: center;
    word-spacing: 30px;
    
}


.nav-bar a{
    text-decoration: none;
     color: white;
}

.nav-bar a:hover{
    color: burlywood;
    
}


.search-bar{
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input{
    padding: 8px;
    border-radius: 20px;
}

.search-bar button{
    padding: 8px;
    border-radius: 20px;
}

fieldset legend{
    text-align: center;
}

fieldset{
    width: 50%;

}

form {
    display: block;
    padding: 20px;

}

form input, label{
margin: 20px;
    /* padding: 20px; */
}